body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.room-list {
  width: 200px;
  height: 100%;
  border-style: solid;
}

.room-list > div {
  width: 100%;
  text-align: center;
  background: lightblue;
  border-bottom-style: solid;
  cursor: pointer;
}

.chat-ui {
  flex-grow: 1;
  height: 100%;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-box {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.chat-box > p {
  width: calc(100% - 30px);
}

.message-inputs {
  flex-grow: 1;
  width: 100%;
  border-top-style: solid;
  display: flex;
  flex-direction: row;
}

.message-inputs > input {
  height: 90%;
  width: 90%;
  font-size: 2rem;
}

.send-button {
  display: grid;
  place-items: center;
  flex-grow: 1;
  height: 100%;
  cursor: pointer;
}







